target
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/dictionaries
!.idea/dictionaries/*
.privateRunConfiguration
.privateRunConfiguration/*
out
build
*.iml
.gradle/*

*.versionsBackup
*.releaseBackup
default.properties

.video
.attach_pid*

deployment/*
deployments/local/database/*
src/generated/*
deployments/local/postgres-data/*
deployments/local/files/*
deployments/local/localstack/sqs/tmp/*
integration-tests-output/*
.envrc
.env

**/log/*

!/gradle/wrapper/gradle-wrapper.jar



bin/*
.classpath
.project
.settings
.DS_Store
.idea/runConfigurations/run.run.xml
